@charset "UTF-8";

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.maxwidth-container {

    max-width: 70.3125em;
    margin-left: auto;
    margin-right: auto;
}

.header-container {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu-nav {

    width: 100%;  /* Importante para expandir o bloco */
    background-color: rgb(233, 107, 113);
    /* background-color: rgb(255, 255, 255); */
}

.logo {

    display: block;
    width: 80%;
    margin: 0.4em auto; /*   nÃO MUITO PARA NÃO CAUSAR AUMENTO DE MARGEM */
}

.menu {

    margin: 0;
    padding: 0;
}

.menu li {

    /* padding: 1em; */
    text-align: center;
    list-style: none;
}

.menu a {

    display: block;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    color: #272727;
}

.menu a:hover {
   
    /* width: 100%; */
    color: white;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: rgba(226, 68, 68, 0.918);
}

.banner {

    display: none;
}

.section-container {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5em;
}

#atendimento {

    background-color: #f8f8f8;
}

hr {

    color: rgb(238, 238, 238);
    width: 70%;
}

.container-title {

    color: rgb(218, 36, 84);
    text-align: center;
    font-size: 2em;
    margin: 1.5625em;
    text-transform: uppercase;
    /* para não desregular margem do "Voluntariado" */
    padding-top: 1em;
    /* margin: 1.5625em; */
}

.article-container {

    margin: 1.25em;
    text-align: center;
}

.article-container > img  {
    padding-left: 1em;
    padding-bottom: 1em;
}

.hidden {   /* acessível a leitores de tela*/

    width: 0;
    height: 0;
    overflow: hidden;
    /* opacity: 0; */
    display: block;
}

.article-container-title-transp, .article-container-title-hist, .article-container-title-alivre {

    letter-spacing: 0.1em;
    color: rgb(185, 22, 22);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1.7em;
}

.article-container-text {

    color: rgb(102, 102, 102);
    text-align: center;
    line-height: 1.5;
}

.article-container-title-prof, .article-container-title-equip, .article-container-title-coz {

    font-size: 1.7em;
    letter-spacing: 0.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(45, 177, 45);
}

.article-container-title-cl, .article-container-title-missao, .article-container-title-instal {

    letter-spacing: 0.1em;
    color: rgb(37, 153, 173);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1.7em;
}


.article-container-title-med, .article-container-title-humaniz, .article-container-title-bibl {
    letter-spacing: 0.1em;
    color: rgb(204, 169, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1.7em;
}

.article-container-title-educ, .article-container-title-aloj, .article-container-title-val {

    letter-spacing: 0.1em;
    color: rgb(149, 45, 158);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1.7em;
}

.img-width100 img {
   
    width: 100%;
}

.gr-foto-leg img {

    margin: 0 auto;
    padding-top: 1em;
    display: block;
}

.container-title-col2 {

    text-transform: uppercase;
    color: rgba(218, 36, 84);
    text-align: center;
    font-size: 2.25em;
    padding: 1em;
}

.article-container-eq {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1.25em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-equipe {

    
    text-align: center;
}

.container-equipe img {
    
    border-radius: 50% 50%;
    max-width: 65%;
}

.container-equipe p {

    font-size: 0.8em;
}

.section-container-col5 {

    background-color: rgb(228, 228, 228);
    padding-top: 0.125em;
    padding-bottom: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.article-container-col5-a {

    text-align: center;
    color: rgb(0, 0, 0);
}

address {

    text-align: center;
    padding: 1em;
}

.redes-soc {

    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none; 
    background: rgb(228, 228, 228);
}

.redes-soc li {

    display: inline-block;
    list-style: none;
    margin: 1em;
}

.redes-soc a {

    font-size: 3em;
    text-decoration: none;
}

.icon-facebook:hover {

    color: white;
    background-color: rgb(31, 77, 177);
}

.icon-instagram:hover {

    color: white;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.icon-facebook, .icon-instagram {

    color: black;    
    background: transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.container-mapa {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-mapa-title {

    text-align: center;
    color: rgb(187, 31, 91);
    font-size: 1em;
    margin: 1em;
}

.container-mapa img {

    margin: auto; 
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.container-mapa-google2, .container-mapa-google4 {
    display: none;
}

footer {
    margin: auto auto 0 auto;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 22vh;
    background-color: rgb(29, 29, 29);
}

.copy, .dsgn-text {

    font-size: 0.625em;
    color: rgb(243, 192, 26);
    -ms-flex-item-align:center;
    -ms-grid-row-align:center;
    align-self:center;
}

.dsgn {

    text-decoration: none;
    color: rgba(252, 42, 123, 0.959);
}

.dsgn:hover {

    border-bottom: 1px solid white;
 }

/* Media Queries */

/* Acima de 768px */

@media screen and (min-width: 48em) {

    .backg {
        background-color:  rgb(252, 215, 223);
    }

    .header-container {
        
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .menu-nav {
       
        background-color: transparent;
        margin: 1em;
    }

    /* UL */

    .menu { 
        
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .menu li {

        text-align: right;
    }

    .menu a {

        display: block;
        padding: 1em 0.625em;
        font-size: 0.8em;
        color: #272727;
    }

    .banner-container {

        width:100%;
        height: 37em;
        background-image: url(images/nina-dibujando-coloreando_2825631.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container-mapa-google, .container-mapa-google4 {

        display: none;
    }

    .container-mapa-google2 {

        display: block;
    }

    .container-equipe img {

        border-radius: 50% 50%;
        max-width: 85%;
    }

    .copy, .dsgn-text {

        font-size: 0.9em;
    }
}

/* Acima de 1000px */

@media screen and (min-width: 62.5em) {

    .fixed-top { 

        text-transform: uppercase;
        text-decoration: none;
        position: fixed;
        right: 0;
        top: 80%;
        width: 10em;
    }

    .fixed-top-text {

        text-align: center;
        padding: 1.1em;
        background-color: rgb(255, 197, 212);
        color: #202020;
        font-size: 1em;
        border: 2px dashed rgb(226, 11, 93);
    }

    .fixed-top-text:hover {

        background-color: rgb(255, 166, 190);
    }
   
    .header-container {

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    /* UL */

    .menu { 
        
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .menu a {

        font-size: 1em;
    }

    .section-container {

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;  /* filhos alinhados certinhos pela altura */
    }

    .article-container {

        -ms-flex-preferred-size: 28.125em;
        flex-basis: 28.125em;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }

    .article-container-text {

        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
        margin-left: 0.3125em;
        margin-right: 0.3125em;
        padding-right: 0.625em;
        padding-left: 0.625em;
    }

    .copy, .dsgn-text {

        font-size: 1em;
    }

}

/* Acima de 1200px */

@media screen and (min-width: 75em) {

    .container-mapa-google, .container-mapa-google2 {

        display: none;
    }
    
    .container-mapa-google4 {

        display: block;
    }
    
}

/* Acima de 1280px */

@media screen and (min-width: 80em) {

    .menu li {

        padding: 1em;
    }

    .section-container {

        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;  /* filhos alinhados certinhos pela altura */
    }

    .article-container {

        -ms-flex-preferred-size: 21.875em;
        flex-basis: 21.875em;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }

    .container-equipe {

        margin: 1em;
        -ms-flex-preferred-size:18.75em;
        flex-basis: 18.75em;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }

    .footer {

        height: 25vh;
    }
}

/* Acima de 1440px */

@media screen and (min-width: 90em) {

    .menu li {

        padding: 1em;
    }

    .article-container {
        
        -ms-flex-preferred-size: 12.5em;
        flex-basis: 12.5em;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
       
    }

    .container-equipe {

        -ms-flex-preferred-size: 25em;
        flex-basis: 25em;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }

}